{% extends "_base.html" %}

{% set page_name = 'about us' %}

{% block content %}

<div class="page-content">
  <div id="about-us" class="container">

    <h1 class="page-header">About Us</h1>

    <div class="two-column">
      <div>

        <div class="bio-header">
          <h2 class="col-header">Denise Silver</h2>
          <img src="{{IMAGE}}/denise_photo.jpg" width="150">
          <br>
        </div>

        <p>
          With over 25 years experience in Information Technology, Denise Silver has:
        </p>

        <ul>
          <li>Served as Director of three PMOs in the insurance and utility company industries.</li>
          <li>Implemented PMO startups from "soup to nuts."</li>
          <li>Worked with PricewaterhouseCoopers and Deloitte Consulting to customize and implement Project Management methodologies.</li>
          <li>Directed teams of project managers to implement 70+ IT projects.</li>
          <li>Facilitated hundreds of meetings between stakeholders and IT to prioritize projects and define business requirements.</li>
          <li>Created a multitude of persuasive PowerPoint presentations for corporate and academic settings.</li>
          <li>Mentored and trained hundreds of staff and students on project management and technology topics.</li>
          <li>Co-authored the definitive book on JAD meeting facilitation, Joint Application Development (John Wiley & Sons).</li>
        </ul>

        <div id="jad-book"><img src="{{IMAGE}}/jad.jpg"/></div>
      </div>

      <div>

        <div class="bio-header">
          <h2 class="col-header">Jonathan Ford</h2>
          <img src="{{IMAGE}}/jonathan_photo.jpg" width="150">
          <br>
        </div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

  </div>
</div>

{% endblock content %}