{% extends "_base.html" %}

{% set page_name = 'about us' %}
{% set bio_pic_width = 140 %}

{% block content %}

<div class="page-content">
  <div id="about-us" class="container">

    <header class="page-header">
      <h1>About Us</h1>
    </header>

    <div class="two-column">

      <div class="column">

        <img class="bio-pic" src="{{IMAGE}}/about_us/denise_photo.jpg" width="{{bio_pic_width}}">
        <p class="bio-header">
          <h2>Denise Silver</h2>
          <h3>PowerPoint Specialist and <br> Résumé Coach</h3>
        </p>

        <p>Going out on my own! With over 25 years of experience in IT, project management, marketing, training, and staffing, I joined the gig economy. This offers me freedom to accept interesting work in corporate, academic, and social settings.</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/muhlenberg.png"/></div>
        <p>A graduate of Muhlenberg College and George Washington University with degrees in Spanish, I was headed for a career in teaching&horbar;but then I chanced upon computer programming...</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/denise_logos.jpg"/></div>
        <p>My career spans diverse industries such as home health care, water utilities, insurance, and academia. Along the way, I recruited talented people and hired hundreds of them. I read thousands of résumés and know how to create a winning one.</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/jad.jpg"/></div>
        <p>I have facilitated hundreds of meetings and co-authored a book on how to do so. I also created PowerPoint presentations that helped people market their products, inspire their audiences, and tell their stories.</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/coffee.jpg"/></div>
        <p>What motivates me when I’m not creating presentations? I love playing tennis, capturing photos (with a real camera), frequenting neighborhood cappuccino bars, and accompanying my singing children on the piano.</p>
      </div>


      <div class="column">

        <img class="bio-pic" src="{{IMAGE}}/about_us/jonathan_photo.jpg" width="{{bio_pic_width}}">
        <p class="bio-header">
          <h2>Jonathan Ford</h2>
          <h3>Graphic Designer and Illustrator</h3>
        </p>

        <p>After 20+ years designing for both agency and in-house, I have spent the last five years as a freelance designer, specializing in presentation design (PowerPoint and Keynote).</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/drexel.jpg"/></div>
        <p>A graduate of Drexel University with a B.S. in Graphic Design, I entered the workforce in consumer electronics working in packaging, brand identity, and sales presentations.</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/jonathan_logos.jpg"/></div>
        <p>I’ve had experience in a multitude of industries including home health care, apparel, packaged foods, and toys. Along my journey, I’ve built partnerships with clients and use my design skills to strategically forward the goals of an organization... and I’m fast!</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/wallets.jpg"/></div>
        <p>I think of myself as an interpreter&horbar;taking my clients' ideas and translating them into images. Whether it's working with a fashion designer and reinterpreting their design into a new medium (e.g. leather goods) or helping a start-up explain their product with illustrations and renderings, I help take their concepts to the next level.</p>
        <div class="content-pic"><img src="{{IMAGE}}/about_us/pretzels.jpg"/></div>
        <p>In my spare time, I "enjoy" cooking and crafting with my two young children, emptying the dishwasher, and folding laundry.</p>
      </div>

    </div>

  </div>
</div>

{% endblock content %}