{% extends "_base.html" %}

{% set page_name = 'about us' %}
{% set bio_pic_width = 140 %}

{% block content %}

<div class="page-content">
  <div id="about-us" class="container">

    <h1 class="page-header">About Us</h1>

    <div class="two-column">
      <div>

        <img class="bio-pic" src="{{IMAGE}}/denise_photo.jpg" width="{{bio_pic_width}}">
        <p class="bio-header">
          <h2>Denise Silver</h2>
          <h3>PowerPoint Specialist and Résumé Coach</h3>
        </p>

        <p> Creative, collaborative communicator with over 25 years experience in IT, project management, marketing, training, and staffing. Experience in home health care, water utilities, insurance, and medicine.</p>
        <p>Expert at creating persuasive, informative, and entertaining PowerPoint presentations for corporate, academic, and personal settings.</p>
        <p>Hired hundreds of staff for IT and marketing positions. Knows what a good résumé looks like and how to nail an interview.</p>
        <p>Co-authored a book on how to facilitate effective meetings.</p>
        <p>Graduate of Muhlenberg College and George Washington University (Spanish degree).</p>
        <p>Loves tennis, photography, cappuccinos (always alert!), and accompanying her a cappella&ndash;singing children on the piano.</p>
        <div id="jad-book"><img src="{{IMAGE}}/jad.jpg"/></div>
      </div>

      <div>

        <img class="bio-pic" src="{{IMAGE}}/jonathan_photo.jpg" width="{{bio_pic_width}}">
        <p class="bio-header">
          <h2>Jonathan Ford</h2>
          <h3>Graphic Designer and Illustrator</h3>
        </p>

        <p>Innovative visual communicator with over 20 years experience in graphic design, presentations, packaging, illustration, and branding. Experience in home health care, apparel, consumer electronics, packaged foods, and toys on both internal and agency sides.</p>
        <p>Expert at using design skills to strategically forward the goals of an organization. Savvy problem solver who embraces technology to find new and creative solutions.</p>
        <p>Fast, efficient, proactive. Brings an element of playfulness to his work as he builds ongoing partnerships.</p>
        <p>Graduate of Drexel University with a BS in Graphic Design.</p>
        <p>Resides in Philadelphia with his wife and two children.</p>
      </div>
    </div>

  </div>
</div>

{% endblock content %}