{% extends "_base.html" %}

{% set page_name = 'contact' %}

{% block content %}

<!-- Contact -->
<div class="page-content">
  <div id="contact">
    <div class="container">
      <section>
        <header>
          <h2>Contact Us</h2>
        </header>
      </section>
      <form action="javascript:void(0);">
      <!-- <form method="post" action="https://formspree.io/xjvaevaz" method="POST"> -->
      <!-- <form onsubmit="submitContact(this);"> -->
        <div class="contact-grid">
          <div id="contact-name">
            <input name="name" placeholder="Name" type="text" class="text" required />
          </div>
          <div id="contact-email">
            <input name="_replyto" placeholder="Email" type="email" class="text" required />
          </div>
          <div id="contact-message">
            <textarea name="message" placeholder="Message" required></textarea>
          </div>
          <div id="contact-submit">
            <button type="submit" class="button alt">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="submit-success">
  Great to hear from you!
</div>

{% endblock content %}