{% extends "_base.html" %}

{% set page_name = 'contact' %}

{% block content %}

<!-- Contact -->
  <div id="contact">
    <div class="container">
      <section>
        <header>
          <h2>Contact Us</h2>
        </header>
      </section>
      <form method="post" action="https://formspree.io/xjvaevaz" method="POST">
        <div class="row gtr-50 gtr-uniform">
          <div class="col-6 col-12-narrower">
            <input name="name" placeholder="Name" type="text" class="text" required />
          </div>
          <div class="col-6 col-12-narrower">
            <input name="_replyto" placeholder="Email" type="email" class="text" required />
          </div>
          <div class="col-12">
            <textarea name="message" placeholder="Message" required></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="button alt">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}