{% extends "_base.html" %}

{% set page_name = 'our services' %}

{% block content %}

<div class="page-content">
  <div class="info-page">

    <!-- Sidebar -->
    <div class="sidebar">
      <ul class="alt">
        <li class="subpage-link active"><a>Graphic Design</a></li>
        <li class="subpage-link"><a>How We Work with You</a></li>
        <li class="subpage-link"><a>Samples</a></li>
      </ul>
    </div>

    <!-- Content -->
    <div class="content">

      <article>

        <header class="section-header">
          <h1>Graphic Design</h1>
        </header>

        <div class="info-page-banner"></div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.</p>

      </article>

      <article>

        <header class="section-header">
          <h1>How We Work with You</h1>
        </header>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.</p>

      </article>

      <article>

        <header class="section-header">
          <h1>Samples</h1>
        </header>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.</p>

    </div>

  </div>
</div>

{% endblock %}


{% block scripts %}
<script>
  $('#header').addClass('hide-mobile');
  setupPageSectionObserver();
</script>
{% endblock %}