{% extends "_base.html" %}

{% set page_name = 'home' %}

{% block head %}
  <link rel="prefetch" href="{{IMAGE}}/banners/presentations0.jpg">
  <link rel="prefetch" href="{{IMAGE}}/banners/presentations1.jpg">
  <link rel="prefetch" href="{{IMAGE}}/banners/presentations2.jpg">
  <link rel="prefetch" href="{{IMAGE}}/banners/graphics.jpg">
  <link rel="prefetch" href="{{IMAGE}}/banners/resumes0.jpg">
  <link rel="prefetch" href="{{IMAGE}}/banners/resumes1.jpg">
  <link rel="prefetch" href="{{IMAGE}}/banners/resumes2.jpg">
{% endblock head %}

{% block content %}

<!-- Banner -->
  <div id="home-banner">
    <div>
      <h2>
        <span class="line">Communicate with</span>
        <span class="line">Confidence</span>
      </h2>
    </div>
  </div>


<!-- Main -->
  <div id="main">
    <div class="container">

        <div class="featured">
          <div>
            <a class="badge" href="resumes.html"><img class="home-badge" src="{{IMAGE}}/icons/home_button2.png" /></a>
            <a href="resumes.html">
              <h3>Résumés & Coaching</h3>
            </a>
            <p><b>We collaborate</b> to craft a powerful, high-quality résumé and guide you on your job journey.</p>
          </div>
          <div>
            <a class="badge" href="presentations.html"><img class="home-badge" src="{{IMAGE}}/icons/home_button0.png"/></a>
            <a href="presentations.html"><h3>Slide Presentations</h3></a>
            <p><b>We team up</b> with you to build a new presentation, energize an existing one, or coach you on your delivery.</p>
          </div>
          <div>
            <a class="badge" href="graphics.html"><img class="home-badge" src="{{IMAGE}}/icons/home_button1.png"/></a>
            <a href="graphics.html"><h3>Graphic Design</h3></a>
            <p><b>We partner</b> to create the visuals you need to inspire, inform, and captivate your audience.</p>
          </div>
        </div>

    </div>
  </div>

{% endblock content %}