{% extends "_base.html" %}

{% set page_name = 'home' %}

{% block content %}

<!-- Banner -->
  <div id="home-banner">
    <div>
      <h2>
        <span class="line">Communicate with</span>
        <span class="line">Confidence</span>
      </h2>
    </div>
  </div>


<!-- Main -->
  <div id="main">
    <div class="container">

        <ul class="featured">
          <li>
            <a class="badge" href="presentations.html"><img class="home-badge" src="{{IMAGE}}/icons/home_button0.png"/></a>
            <a href="presentations.html"><h3>Slide Presentations</h3></a>
            <p><b>We team up</b> with you to build a new presentation, energize an existing one, or coach you on your delivery.</p>
          </li>
          <li>
            <a class="badge" href="graphics.html"><img class="home-badge" src="{{IMAGE}}/icons/home_button1.png"/></a>
            <a href="graphics.html"><h3>Graphic Design</h3></a>
            <p><b>We partner</b> to create the visuals you need to inspire, inform, and captivate your audience.</p>
          </li>
          <li>
            <a class="badge" href="resumes.html"><img class="home-badge" src="{{IMAGE}}/icons/home_button2.png"/></a>
            <a href="resumes.html"><h3>Résumés</h3></a>
            <p><b>We collaborate</b> to craft a powerful résumé that clearly conveys why you are the best candidate for the job.</p>
          </li>
        </ul>

    </div>
  </div>

{% endblock content %}