{% extends "_base.html" %}

{% set page_name = 'our services' %}

{% block content %}

<div class="page-content">
  <div class="info-page">

    <!-- Sidebar -->
    <div class="sidebar">
      <ul class="alt">
        <li class="subpage-link active"><a>Slide Presentations</a></li>
        <li class="subpage-link"><a>How We Work with You</a></li>
        <li class="subpage-link"><a>Samples</a></li>
      </ul>
    </div>

    <!-- Content -->
    <div class="content">

      <article>

        <header class="section-header">
          <h1>Slide Presentations</h1>
        </header>

        <div class="info-page-banner presentations-banner">
          <div class="inner">
            <div class="banner-slides">
              <div class="banner-slide banner2">
                <div>
                  <h2>Let us take your presentation over the finish line!</h2>
                </div>
              </div>
              <div class="banner-slide banner1">
                <div>
                  <h2>Stressed out by public speaking?</h2>
                </div>
              </div>
              <div class="banner-slide banner0">
                <div>
                  <h2>Fearful of boring your audience to death?</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-container col-3">
          <div>
            <h3>PowerPoint from Scratch</h3>
            <p>Build your story through concise, custom slides that <b>stay on point</b>, <b>hold attention</b>, and <b>tie directly to your goals</b>. Add genuine vigor and visualization to your presentation. Keep out distractions, bloating, and boredom.</p>
          </div>
          <div>
            <h3>Presentation Makeovers</h3>
            <p>Refresh content, beef up images, and assure your message hits the mark.</p>
          </div>
          <div>
            <h3>Mentoring and Coaching</h3>
            <p>Share techniques for delivering presentations. Avoid PowerPoint stress, deadline panic, and public speaking anxiety by rehearsing together until you feel confident.</p>
          </div>
        </div>

        <div id="pres-cartoon" class="picture-box">
          <img src="{{IMAGE}}/pres_cartoon.png"/>
        </div>


        <div class="callout">

          <p>Over a million presentations are taking place right now&horbar;<b class="big">50% of them are unbearable.</b></p>

          <h3>The Good News</h3>
          <p>Presentations bring in over <b class="big">$100B in sales</b> annually.</p>
          <p>That's why <b class="big">500 million people</b> around the world use PowerPoint. They create <b class="big">35 million presentations</b>&horbar;every day.</p>

          <h3>The Problem</h3>
          <p>"PowerPoint is one of the most misused presentation tools on the market today." <br>&nbsp; &nbsp; &nbsp; &nbsp; &mdash; Almost Everyone</p>
          <p>Most PowerPoint slides are 40 words long&horbar;bloated with bullets, drowning in text, and stuffed with complicated charts too hard to read from the back of the room.</p>
          <p>Presenters often <b class="big">digress from goals</b>, overuse animation, and <b class="big">lose their audience.</b></p>

          <h3>The Solution</h3>
          <p>Q: How do you avoid this "torture by PowerPoint"? How do you create slides that work?</p>
          <p>A: Partner with <b class="big">Silver Solutions</b> on your next presentation!</p>
        </div>
        <br>

      </article>

      <article>

        <header class="section-header">
          <h1>How We Work with You</h1>
        </header>

        <div class="grid-container col-4">
          <div>
            <h3>1. Strategize</h3>
            <p>Kick off a project via phone or Zoom to discuss presentation objectives, target audience,
brand identity, and timeline. Brainstorm content ideas and agree on deliverables.</p>
          </div>
          <div>
            <h3>2. Design and Build</h3>
            <p>Share slide mockups to finalize creative direction. Agree on preferred "look and feel." Create a first draft presentation for review.</p>
          </div>
          <div>
            <h3>3. Finalize</h3>
            <p>Collaborate to edit/tweak the content until you are totally satisfied with the results.</p>
          </div>
          <div>
            <h3>4. Rehearse</h3>
            <p>As an option, rehearse the presentation together. Receive coaching to create stronger impact and relieve stress.</p>
          </div>
        </div>
      </article>

      <article>

        <header class="section-header">
          <h1>Samples</h1>
        </header>

        <p>Are you presenting to potential clients, employees, steering committees, or a user conference? Do you want to persuade, inform, or entertain? We have created hundreds of presentations. Here are some.</p>

        <div class="pres-samples">

          {% for (name, examples) in SLIDE_CATEGORIES.items() %}
            <div class="pres-sample-section">
              <h2>{{name}}</h2>
              {% for example in examples %}
                <div class="pres-sample">
                  {% for i in range(4) %}
                    <div><img src="{{SLIDES}}/{{example}}/Slide{{i}}.jpg"/></div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% endfor %}

        </div>

        <!-- <div class="callout">
          <ul>
            <li>Sales and marketing pitches</li>
            <li>Training/webinars</li>
            <li>Executive presentations to the board</li>
            <li>User conferences/TED talks</li>
            <li>Employee meetings</li>
            <li>Roasts, toasts, and celebrations</li>
          </ul>
        </div> -->
      </article>

    </div>

  </div>
</div>

{% endblock %}


{% block scripts %}
<script>
  $('#header').addClass('hide-mobile');
  setupPageSectionObserver();
</script>
{% endblock %}