{% extends "_base.html" %}

{% set page_name = 'our services' %}

{% block content %}

<div class="page-content">
  <div class="left-sidebar">

    <!-- Sidebar -->
    <div class="sidebar">
      <ul class="alt">
        <li class="subpage-link active"><a>Résumés</a></li>
        <li class="subpage-link"><a>How We Work with You</a></li>
        <li class="subpage-link"><a>Samples</a></li>
      </ul>
    </div>

    <!-- Content -->
    <div class="content">

      <article class="visible">

        <header class="page-header">
          <h1>Résumés</h1>
          <!-- <h2 class="byline">Avoid the pitfalls of PowerPoint</h2> -->
        </header>

        <div class="grid-container col-3">

          <div>
            <h3>Résumés from scratch</h3>
            <p>Develop a professionally written, industry-focused résumé that readies you for an upcoming job interview. Includes a comprehensive analysis of your experience to date and what it is you are really looking for in your next job.</p>
          </div>

          <div>
            <h3>Résumé makeover</h3>
            <p>Modify content and format of your existing resume to create a stronger, spot-on version that attracts your next employer.</p>
          </div>

          <div>
            <h3>Interview coaching</h3>
            <p>Share techniques for nailing the interview including simulating an interview experience.</p>
          </div>
          <!-- <div>
            <h3>Résumé Creation</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div>
            <h3>Interview Coaching</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div> -->
        </div>


      </article>

      <article>

        <header class="page-header">
          <h1>How We Work with You</h1>
        </header>

        <div class="grid-container col-2">

          <div>
            <h3>Getting to Know You</h3>
            <p>Kick off a project with a phone (or Zoom) call to discuss your job history and
what you are looking for in your next job.</p>
          </div>

          <div>
            <h3>Create Résumé</h3>
            <p>Use a template chosen from our library to create a new résumé. Collaborate to fine-tune it&mdash;including a summary profile that distinguishes you from the competition. Tweak the résumé together until satisfied with the results.</p>
          </div>

          <div>
            <h3>Find Potential Jobs</h3>
            <p>Share potential jobs from the popular websites. Revisit the résumé and fine-tune accordingly.</p>
          </div>

          <div>
            <h3>Prep for the Interview</h3>
            <p>Simulate the interview experience with a mock interview and critiques along the way.</p>
          </div>

        </div>
      </article>

      <article>

        <header class="page-header">
          <h1>Résumé Samples</h1>
        </header>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.</p>

    </div>

  </div>
</div>

{% endblock %}